<h1>Enter your workout:</h1>
<form method="post" action="/save_workout">
	Type: <input type="text" name="type" /><br />
	Name: <input type="text" name="name" /><br /><br />
	<h3>Set 1:</h3><br />
	Number of reps: <input type="text" name="set_array[set1][number_of_reps]" /><br />
	Weight: <input type="text" name="set_array[set1][weight]" /><br />
	Comment: <input type="text" name="set_array[set1][comment]" /><br /><br />
	<h3>Set 2:</h3><br />
	Number of reps: <input type="text" name="set_array[set2][number_of_reps]" /><br />
	Weight: <input type="text" name="set_array[set2][weight]" /><br />
	Comment: <input type="text" name="set_array[set2][comment]" /><br /><br />
	<h3>Set 3:</h3><br />
	Number of reps: <input type="text" name="set_array[set3][number_of_reps]" /><br />
	Weight: <input type="text" name="set_array[set3][weight]" /><br />
	Comment: <input type="text" name="set_array[set3][comment]" /><br /><br />
	<input type="submit" value="Save Workout" />
</form>