<script type="text/javascript">
	var counter = 1;
	function addSet(divId) {
		counter++;
		var newDiv = document.createElement('div');
		newDiv.innerHTML = "<b>Set " + counter + ":</b><br />" +
			"Number of reps: <input type=\"text\" name=\"set_array[][number_of_reps]\" /><br />" +
			"Weight: <input type=\"text\" name=\"set_array[][weight]\" /><br />" +
			"Comment: <input type=\"text\" name=\"set_array[][comment]\" /><br />";
		document.getElementById(divId).appendChild(newDiv);
	}
</script>
<h1>Enter your workout:</h1>
<form method="post" action="/save_workout">
	Type: <input type="text" name="type" /><br />
	Name: <input type="text" name="name" /><br /><br />
	<div id="setsDiv">
		<b>Set 1:</b><br />
		Number of reps: <input type="text" name="set_array[][number_of_reps]" /><br />
		Weight: <input type="text" name="set_array[][weight]" /><br />
		Comment: <input type="text" name="set_array[][comment]" />
	</div><br />
	<input type="button" value="Add another set" onClick="addSet('setsDiv');">
	<br /><br />
	<input type="submit" value="Save Workout" />
</form>